---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hola, soy Diego Rojas <a href="https://www.linkedin.com/in/diegonoelrojasbranez/" target="_blank" rel="noopener" class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a>
      </h1>
      <h2 class="text-white text-xl opacity-80">
        Product Owner. Desarrollador Full Stack. Coordinador de técnicos. De
        Buenos Aires, Argentina
      </h2>

      <ul></ul>
    </section>
  </main>
</Layout>
