<section class="flex gap-x-4">
  <div class="[&>p]:mb-4 text-pretty">
    <p>
      Mi nombres es Diego Rojas, terminé la técnicatura en Programación y
      comencé gracias a una empresa de Chile llamada Incubadora Desafio Latam
      comenzar a programar como <strong>desarrollador Full Stack</strong> web en proyectos
      reales.
    </p>
    <p>
      Anteriormente a esto, siempre trabajé en sistemas/soporte técnico primero
      como técnico y luego ya <strong>liderando equipos de trabajo</strong>.
    </p>
    <p>
      Gracias a la experiencia que tengo, se me dió la oportunidad de
      desempeñarme como <strong>Product Owner</strong>, llevando adelante 2 equipos de trabajo en
      simultaneo, sin dejar de aportar al equipo como desarrollador.
    </p>
  </div>
</section>
